body{
    background-color: lightgrey;
}

#titulo{
    display: block;
    text-align: center;
    margin-top: 50px;
}

#Horas{
    display: block;
    text-align: center;    
}

#Horas label{
    font-size: 20px;
}

