* { margin: 0; 
    padding: 0; 
  border: 0;
  }
  
  header
  {
    background-color: #000000;
    color: rgb(240,240,240);
    height: 70px;
    text-align: left;  
  }
  
  p{
  padding: 20px 0px 0px 30px;
  font-size: 20px;
  font-family: Arial;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg,
        rgba(14, 46, 230, 0.7),
        rgba(14, 46, 250, 0.7)
      ),
   url("https://thumbs.dreamstime.com/z/lotto-balls-lottery-clip-art-2205482.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  }